.cell{
  width: 100px;
  height: 100px;
  background-color: aqua;
  display: grid;
  place-items: center;
  cursor: pointer;


}
.element{
  width: 80px;
  height: 80px;
  transition: background-color 0.5s;
  
  border-radius: 50%;
}