.cell{
  width: 10rem;
  height: 10rem;
  background-color: aqua;
  display: grid;
  place-items: center;
  cursor: pointer;


}
.element{
  width: 8rem;
  height: 8rem;
  transition: background-color 0.5s;
  
  border-radius: 50%;
}